<a href="https://colab.research.google.com/github/savisha2526/Task-7/blob/main/DataPreprocessing_Assignment11_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [ ]:
df = pd.read_csv("Data.csv")

In [ ]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
df = df.dropna()

**Step 4: Encoding categorical data**

In [ ]:
df.map(dict(yes=1, no=0))

AttributeError: ignored

**Step 5: Creating a dummy variable**

In [ ]:
df_dummy = pd.get_dummies(df)
df_dummy.head()

,Age,Salary,Country_France,Country_Germany,Country_Spain,Purchased_No,Purchased_Yes
0,44.0,72000.0,1,0,0,1,0
1,27.0,48000.0,0,0,1,0,1
2,30.0,54000.0,0,1,0,1,0
3,38.0,61000.0,0,0,1,1,0
5,35.0,58000.0,1,0,0,0,1

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [ ]:
x = df[['Country', 'Age', 'Salary']].values
y = df[['Purchased']].values
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [ ]:
x_train

array([['France', 35.0, 58000.0],
       ['France', 37.0, 67000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 50.0, 83000.0],
       ['Germany', 30.0, 54000.0]], dtype=object)

In [ ]:
y_train

array([['Yes'],
       ['Yes'],
       ['No'],
       ['No'],
       ['No']], dtype=object)

In [ ]:
x_test

array([['France', 48.0, 79000.0],
       ['Spain', 27.0, 48000.0],
       ['France', 44.0, 72000.0]], dtype=object)

In [ ]:
y_test

array([['Yes'],
       ['Yes'],
       ['No']], dtype=object)

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(df)

ValueError: ignored